<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scan Network Online</title>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.3.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.3.0/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>

    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<script>
</script>

<body>
    <!--================Header Menu Area =================-->
    <%include header.ejs%>
        <!--================Header Menu Area =================-->


        <main style="text-align: center;" class="side-main">
            <!--================ Hero sm Banner start =================-->
            <img id="img-404" src="images/404.png" height="400px" width="auto">
            <!--================ End Clients Logo Area =================-->
        </main>


        <!-- ================ start footer Area ================= -->
        <%include footer.ejs%>
            <!-- ================ End footer Area ================= -->

            <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
            <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
            <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
            <script src="js/jquery.ajaxchimp.min.js"></script>
            <script src="js/mail-script.js"></script>
            <script src="js/main.js"></script>
</body>

</html>