<div style="height: 85px; background-color:black;"></div>
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/">
                    <h3 style="color:white;">Scan Network Online</h3>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <i
                                    class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/scan-network">Scan network</a></li>
                                <li class="nav-item"><a class="nav-link" href="/google-hacking">Google Hacking</a></li>

                                <li class="nav-item"><a class="nav-link" href="pentest-website">Pentest website</a></li>
                                <li class="nav-item"><a class="nav-link" href="/machine-learning">Machine Learning</a></li>

                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="feature.html">Feature</a></li>
                        <li class="nav-item"><a class="nav-link" href="pricing.html">Price</a>

                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>

                    <ul class="navbar-right">
                        <li class="nav-item dropdown ">

                            <a class="nav-item" style="color:white;" class="nav-link" active data-toggle="dropdown" href="#"> <img src="/images/avatar-default.png" class="rounded-circle" alt="Cinque Terre" width="35" height="35">
                                <%= display_name %>
                                    <i class="fa fa-angle-down"></i></a>
                            <div class="dropdown-menu " role="menu">
                                <a class="dropdown-item" role="presentation" href="/setting"><i class="fa fa-cog"></i>
                                    Setting</a>
                                <a href="get-api-key" style="cursor: pointer;" class="dropdown-item" role="presentation"><i class="fas fa-code"></i>
                                    API Key</a>
                                <a style="cursor: pointer;" id="dark-mode" class="dropdown-item" role="presentation"><i class="fa fa-adjust"></i>
                                    Dark mode <i id="toggle" class="fas fa-toggle-off"></i></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" role="presentation" href="/logout" id="btn_logout"><i
                                        class="fa fa-arrow-right"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>