h1 {
    color: black;
}

h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

body {
    color: #3a414e;
}

#navbarSupportedContent {
    color: black;
}

.hero-banner {
    background-color: white;
    color: rgba(0, 0, 0, 0.726);
}

.btn-demo-url {}

#toggle {
    font-size: 25px;
    cursor: pointer;
}

.api-key {
    padding: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#show-api-key {
    text-align: center;
    background-color: #1D1E22;
    margin-bottom: 20px;
}

code {
    text-align: center;
}


/* mobile */

@media (min-width: 360px) {
    body {
        padding: 0px;
        font-size: 16px;
        color: #3a414e;
    }
    b {
        font-family: "Rajdhani", sans-serif;
        color: #3a414e;
        line-height: 1.25;
        font-size: 18px;
    }
    .resuilt {
        padding: 50px 20px 20px 20px;
        min-height: 500px;
        background-color: rgba(255, 255, 255, 0.897);
        display: none;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
    #tables-port-desktop {
        display: none;
    }
}

span {}


/* desktop */

@media(min-width: 900px) {
    #show-table-port-mobile {
        display: none;
    }
    body {
        color: #3a414e;
    }
    b {
        font-family: "Rajdhani", sans-serif;
        color: #3a414e;
        line-height: 1.25;
    }
    .resuilt {
        padding: 50px;
        min-height: 500px;
        background-color: rgba(255, 255, 255, 0.897);
        display: none;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
}